
@font-face {
  font-family: primetime;
  src: url("../fonts/Primetime.ttf");
}
html{ 
  font-size: 62.5%;
  font-family: primetime;
}
body {
  margin: 0;
  padding: 0;

}
a{
  text-decoration: none;
  color: inherit;
}
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.background {
  position: fixed;
  background: url('../images/index/background.jpg') center/100% no-repeat;
  background-color: black;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding:2.5%;
}
.header__logo {
  font-size: 3rem;
  color:white;
  /* background-color:#efa1b3; */
}
.header__logo__text {
  display: inline-block;
  border : white solid 0.5rem;
  padding:0 0.5rem 0.5rem 0.5rem ;
}
.header__logo--flip{
  display: inline-block;
  transform: scaleX(-1);
}
.header__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

.header__menu:hover {
  cursor: pointer;
}

.header__menu__bar {
  width: 5rem;
  height: 0.3rem;
  background-color: white;
  margin: 0.3rem;
  transition: width 0.1s;
  align-self: flex-end;
}
.header__menu__bar--shorten{
  width: 3rem;
}


/* loader */
.loader {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.loader--active {
  visibility: visible;
}

.loader__dots {
  width: 1rem;
  height: 1rem;
  background-color: black;
  margin: 1rem;
  border-radius: 100%;
  animation: bounce 0.5s infinite alternate;
  transition: all ease-in-out;
}

@keyframes bounce {
  to {
    transform: translate(0, -300%);
  }
}

.loader .loader__dots:nth-child(2) {
  animation-delay: 0.16s;
}

.loader .loader__dots:nth-child(3) {
  animation-delay: 0.33s;
}

/* content */
.content {
  flex: 1;
}

/* footer */
.footer {
  position : fixed;
  left:2.5%;
  bottom:2.5%;
}
.footer__sns-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__sns-list li {
  margin-top: 2rem;
}

.footer__sns-list li img {
  width: 2.5rem;
  border-radius: 30%;
}
