@import "../common/common";


.wrap {
  background-image: url(../../images/common/noisy-texture-100x100.png);

  .header {
    background-color: transparent;
    position: static;
  }

  #main-content {
    max-width: 150rem;
    margin: 0 auto;
   @import 'album-list';
   @import 'album-info';
  
   @media screen and(max-width:1079px) {
     padding: 1rem;
   }
  }

  .footer {
    @media screen and (max-width: 1900px) {
      display: none;
    }
  }
}
