@import "../common/common.scss";


.wrap {
  background-image: url(../../images/common/noisy-texture-100x100.png);

  .header {
    background-color: transparent;
    position: static;
  }

  #main-content {
    display: grid;
    margin: 0 auto;
    max-width: 150rem;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(40rem, 1fr));
    grid-auto-flow: row;
    color: white;
    padding: {
      top:5rem;
      bottom: 5rem;
    };

    @media screen and (max-width: 1080px) {
      grid-template-columns: repeat(1, minmax(20rem, 1fr));
    }

    .title {
      grid-column-end: span 2;
      vertical-align: baseline;
      margin: auto 0;
      font-size: 8rem;

      @media screen and (max-width: 1080px) {
        grid-column-end: span 1;

        font-size: 4rem;
      }
    }

    .sub-title {
      margin: auto 0;
      position: relative;
      top: 4rem;
      font-size: 4rem;
      @media screen and (max-width: 1080px) {
        font-size: 2rem;
        position: static;
        margin-bottom: 2rem;
      }
    }

    .album {
      img {
        width: 100%;
      }
    }
  }

  .footer {
    @media screen and (max-width: 1900px) {
      display: none;
    }
  }
}
