.loader {
    display: flex;
    justify-content: center;
    position: relative;
    bottom:5rem;
    .dots {
        width: 1rem;
        height: 1rem;
        background-color: black;
        margin: 1rem;
        border-radius: 50%;
        animation: {
            name: bigger-smaller;
            duration: 0.3s;
            iteration-count: infinite;
            direction: alternate;
        };

        @keyframes bigger-smaller {
            to {
                transform: scale(2);
            }
        }
        &:nth-child(2) {
            animation-delay: 0.1s;
        }    
        &:nth-child(3) {
            animation-delay: 0.2s;
        }
    }

}