@mixin show($delay : 0s) {
  animation: slidein 0.5s ease $delay;
  visibility: visible;

  @keyframes slidein {
    from {
      margin-left: -30%;
      margin-right: -30%;
      opacity: 0%;
    }

    to {
      margin-left: 0%;
      margin-right: 0%;
      opacity: 100%;
    }
  }
}

#member-profile {
  
  padding: {
    top:5rem;
    bottom: 5rem;
  }
  @media screen and(max-width:1079px) {
    margin-left:2.5%;
    margin-right: 2.5%;
  }
  max-width: 100rem;
  margin: 0 auto;
  .title {
    color: white;
    @media screen and (min-width:1080px) {
      font-size: 8rem;
    }
    @media screen and (max-width:1080px) {
      font-size: 4rem;
    }
  }
  .member-list {
    overflow: auto;
    display: flex;
    flex-direction: column;


    li {
     margin: 5rem 0;

      position: relative;

      img {
        visibility: hidden;
        width: 55vmin;
      }

      .name {
        font-size: 3rem;
        position: absolute;
        bottom: 3rem;
        background-color: white;
        padding: 0.5rem;
        visibility: hidden;
      }

      .detail {
        background-color: white;
        position: absolute;
        bottom: -1rem;
        font-size: 1.5rem;
        padding: 0.5rem;
        visibility: hidden;
      }

      .show {
        @include show;
      }

      &:nth-child(2n-1) {
        align-self: flex-start;

        img {
          box-shadow: 15px 15px 20px gray;
        }

        .name {
          box-shadow: 15px 15px 20px gray;
          right: -2rem;
        }

        .detail {
          box-shadow: 15px 15px 20px gray;
          right: -2rem;
        }
      }

      &:nth-child(2n) {
        align-self: flex-end;

        img {
          box-shadow: -15px 15px 20px gray;
        }

        .name {
          box-shadow: -15px 15px 20px gray;
          left: -2rem;
        }

        .detail {
          box-shadow: -15px 15px 20px gray;
          left: -2rem;
        }
      }
    }
  }
}
