#member-profile {
    .member-list{
        overflow: auto;
        display: flex;
        flex-direction: column;
    @media screen and (min-width: 1080px) {
        margin: {
            left: 20%;
            right: 20%;
        };
    }
    li {
        margin-bottom: 15vmax;
        &:nth-child(2n) {
            align-self: flex-end;
            position: relative;
            img {
                box-shadow: -15px 15px 20px gray;

            }
            
            .profile-description {
                position: absolute;
                bottom: -5%;
                left:-5%;
                opacity: 70%;
                &__name {
                    width: fit-content;
                    font: {
                        size: 3rem;
                    }
                    position: relative;
                    left: -30%;
                    background-color: white;
                    padding: 1rem;
                    margin: 1rem;
                }
    
                &__detail {
                    background-color: white;
                    position: relative;
                    font: {
                        size: 1.5rem;
                    }
                    padding: 1rem;
                }
            }
        }
        &:nth-child(2n-1) {
            align-self: flex-start;
            position: relative;
            img {
                box-shadow: 15px 15px 20px gray;
            }
            
        .profile-description {
            position: absolute;
            bottom: -5%;
            right: -5%;
            opacity: 70%;
            &__name {
                width: fit-content;
                font: {
                    size: 3rem;
                }
                position: relative;
                right: -40%;
                background-color: white;
                padding: 1rem;
                margin: 1rem;
            }

            &__detail {
                background-color: white;
                position: relative;
                font: {
                    size: 1.5rem;
                }
                padding: 1rem;
            }
        }
        }
        
    }

}
}